<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="media/{{ site.style }}-screen.css"
      type="text/css"
      rel="stylesheet"
      media="screen"
    />
    <link
      href="media/{{ site.style }}-print.css"
      type="text/css"
      rel="stylesheet"
      media="print"
    />
  </head>
  <body>
    <div id="main">
      <div id="content">{{ content }}</div>
    </div>
  </body>
</html>
